@font-face{
  font-family: "libras";
  src: url('libras.ttf');
}

.custom-navbar {
  background-color: #039EFF; /* Defina a cor de fundo desejada aqui */
  padding: 15px;
  font-family: 'Imprima', sans-serif;
  justify-content: center;
}
  
.custom-navbar p{
    font-size: 32px;
}


  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link {
    font-weight: bold;
    background-color: #FEF200;
    color: #000; /* Defina a cor dos links aqui */
  }
  
  .custom-navbar .nav-link {
    color: #000; /* Defina a cor do link ativo aqui */
    margin-left: 8px;
    margin-right: 8px;
  }

  .custom-navbar .nav-link:hover {
    color: #0a03037e; /* Defina a cor do link ativo aqui */
  }
  
  .navbar-toggler {
    border: solid 2px black;
    width: 64px;  /* Ajustando a largura do botão */
    height: 64px; /* Ajustando a altura do botão */
    background-color: yellow;
    border-radius: 16px; /* Ajustando para bordas completamente arredondadas */
    padding: 8px 8px;  /* Ajuste no padding para centralizar o ícone */
  }
  
  .navbar-toggler:focus {
    outline: none;
  }
  
  .navbar-toggler-icon {
    background-image: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  

  .navbar-toggler-icon > span {
    content: '🖐';

  }

  .navbar-expand-lg .navbar-collapse{
    justify-content: right;
  }


/* Todas páginas */

.h2-style{
  background-color: rgb(255,255,255,20%);
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 300px;
  border-radius: 13px;
  font-size: 60px;
}

/* Calculadora */


body {
    background-color: #039EFF;
}

.navbar {
    justify-content: space-between;
}


.calculator, .result {
    background-color: #FFE196;
    border: solid 2px black;
    border-radius: 16px;
    padding: 24px;
    margin: 16px;
}



#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: none;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}



.clear {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: solid 2px black;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;
}

.clear:hover {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: solid 2px black;
  border-radius: 16px;
  background-color: wheat;
  cursor: pointer;
}

.num{
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: solid 2px black;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;
}

.num.double-width{
  width: 200%;
}

.num.double-width:hover{
  width: 200%;
}

.num.transparent{
  background-color: transparent;
  border: none;
  cursor: default;
  color: white;
}

.num.transparent:hover{
  background-color: transparent;
  border: none;
}

.op{
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: solid 2px black;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;
}

.num:hover {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    border: solid 2px black;
    border-radius: 16px;
    background-color: wheat;
    cursor: pointer;
}

.op:hover {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: solid 2px black;
  border-radius: 16px;
  background-color: wheat;
  cursor: pointer;
}

.num:focus {
    outline: none;
}

.op:focus {
  outline: none;
}

#equals {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: solid 2px black;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;
} 

#equals:hover{
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: solid 2px black;
  border-radius: 16px;
  background-color: wheat;
  cursor: pointer;
}

#equals:focus {
  outline: none;
}

.text-area{
    width: 96%;
    height: 8vh;
    margin: 8px;
    font-family: 'Imprima', sans-serif;
    border: solid 2px black;
    font-size: 20px;
    text-align: center;

}


.result h2{
  text-align: center;
}

.result hr{
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid black;
}

.text-area-output{
    width: 96%;
    height: 8vh;
    margin: 8px;
    font-family: 'Imprima', sans-serif;
    border: solid 2px black;
    border-radius: 16px;
    font-size: 36px;
    text-align: center;
    background-color: rgb(246, 97, 97,72%);
}

.text-area-output-lb{
    width: 96%;
    height: 18vh;
    margin: 8px;
    font-family: 'libras', sans-serif;
    border: solid 2px black;
    border-radius: 16px;
    font-size: 36px;
    text-align: center;
    background-color: rgb(5, 60, 255,46%);
}

  